In [ ]:
"""
1. Load the dataset using pandas.
2. Separate Dataset into training and testing sets
3. Train a model to make predictions based on number of years as experience.
4. Plot and visualize the training data, testing data and the regression line
5. Check the model accuracy using the R2 score of the model 
"""

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [5]:
data = pd.read_csv("C:\\Users\\black\\Desktop\\ml_py\\datasets\\data.csv")

In [8]:
data.head(2)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0

In [15]:
X = data[["YearsExperience"]]
X.shape

(30, 1)

In [16]:
y = data[["Salary"]]
y.shape

(30, 1)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=40)

In [18]:
model = LinearRegression()

In [19]:
model.fit(X_train, y_train)

LinearRegression()

In [20]:
y_pred = model.predict(X_test)

In [21]:
r2 = r2_score(y_pred, y_test)

In [22]:
r2

0.9192779698843494