
## NLP - 2 - Count Vectorizer

In [1]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [4]:
corpus = np.array(["Joe went to the store",
         "Joe wants to buy a dining set",
         "Joe met John at the store",
         "Joe and John are best friends",
         ])

In [5]:
count = CountVectorizer()

bag_of_words = count.fit_transform(corpus)

In [6]:
# Show feature matrix
bag_of_words.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1],
       [0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [7]:
# Get feature names
feature_names = count.get_feature_names_out()

# View feature names
feature_names

array(['and', 'are', 'at', 'best', 'buy', 'dining', 'friends', 'joe',
       'john', 'met', 'set', 'store', 'the', 'to', 'wants', 'went'],
      dtype=object)

In [8]:
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,and,are,at,best,buy,dining,friends,joe,john,met,set,store,the,to,wants,went
0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1
1,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1,0
2,0,0,1,0,0,0,0,1,1,1,0,1,1,0,0,0
3,1,1,0,1,0,0,1,1,1,0,0,0,0,0,0,0