## NLP - 3 - TfidfVectorizer

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [2]:
corpus = ["Joe went to the store",
         "Joe wants to buy a dining set",
         "Joe met John at the store",
         "Joe and John are best friends",
         ]

In [3]:
vectorizer = TfidfVectorizer(use_idf=True)

vectorizer_vectors = vectorizer.fit_transform(corpus)

In [4]:
vectorizer_vectors.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29462843, 0.        , 0.        ,
        0.        , 0.44513219, 0.44513219, 0.44513219, 0.        ,
        0.56459374],
       [0.        , 0.        , 0.        , 0.        , 0.45203489,
        0.45203489, 0.        , 0.23589056, 0.        , 0.        ,
        0.45203489, 0.        , 0.        , 0.3563895 , 0.45203489,
        0.        ],
       [0.        , 0.        , 0.49164562, 0.        , 0.        ,
        0.        , 0.        , 0.25656108, 0.38761905, 0.49164562,
        0.        , 0.38761905, 0.38761905, 0.        , 0.        ,
        0.        ],
       [0.45203489, 0.45203489, 0.        , 0.45203489, 0.        ,
        0.        , 0.45203489, 0.23589056, 0.3563895 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [5]:
feature_names = vectorizer.get_feature_names_out()

feature_names

array(['and', 'are', 'at', 'best', 'buy', 'dining', 'friends', 'joe',
       'john', 'met', 'set', 'store', 'the', 'to', 'wants', 'went'],
      dtype=object)

In [6]:
df = pd.DataFrame(vectorizer_vectors.toarray(), columns = feature_names)

df

,and,are,at,best,buy,dining,friends,joe,john,met,set,store,the,to,wants,went
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.294628,0.000000,0.000000,0.000000,0.445132,0.445132,0.445132,0.000000,0.564594
1,0.000000,0.000000,0.000000,0.000000,0.452035,0.452035,0.000000,0.235891,0.000000,0.000000,0.452035,0.000000,0.000000,0.356389,0.452035,0.000000
2,0.000000,0.000000,0.491646,0.000000,0.000000,0.000000,0.000000,0.256561,0.387619,0.491646,0.000000,0.387619,0.387619,0.000000,0.000000,0.000000
3,0.452035,0.452035,0.000000,0.452035,0.000000,0.000000,0.452035,0.235891,0.356389,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000