
## Count Vectorizer

In [2]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [3]:
text_data = np.array(["John saw the train",
                      "The train was late",
                      "Max and Rob took the bus",
                      "I looked for Max and Rob at the bus station",
                      "Max and Rob arrived at the bus station early but waited until noon for the bus"
                      ])

In [4]:
count = CountVectorizer()

bag_of_words = count.fit_transform(text_data)

In [5]:
# Show feature matrix
bag_of_words.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0],
       [1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0],
       [1, 1, 1, 2, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 2, 0, 0, 1, 1, 0]],
      dtype=int64)

In [7]:
# Get feature names
feature_names = count.get_feature_names_out()

# View feature names
feature_names

array(['and', 'arrived', 'at', 'bus', 'but', 'early', 'for', 'john',
       'late', 'looked', 'max', 'noon', 'rob', 'saw', 'station', 'the',
       'took', 'train', 'until', 'waited', 'was'], dtype=object)

In [8]:
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,and,arrived,at,bus,but,early,for,john,late,looked,...,noon,rob,saw,station,the,took,train,until,waited,was
0,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,1
2,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,0,0
3,1,0,1,1,0,0,1,0,0,1,...,0,1,0,1,1,0,0,0,0,0
4,1,1,1,2,1,1,1,0,0,0,...,1,1,0,1,2,0,0,1,1,0